.App{
  font-family: 'Roboto Slab', serif !important;
  min-height: 100vh !important;
  width: 100vw !important;
}

.rounded {
  border-radius: 1rem!important;
}

.header{
  height: 5rem !important;
  background-color: rgba(255, 255, 255, 0.05);
}

.header-text{
  font-size: 2rem;
  font-weight: 500;
}

.hero{
  height: 100vh !important;
  min-height: 100vh !important;
  background-image: url("https://i.pinimg.com/originals/4b/f6/89/4bf68956b86298e132f5157a309a7661.jpg");
  background-size: cover;
  padding-bottom: 20vh !important;
}

.hero-row, .hero-col{
  height: 100% !important;
}

.hero-left{
  max-width: 35rem;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(0.9rem);
}

.tagline{
  display: flex;
  width: 100%;
  text-wrap: balance !important;
  font-size: 2.75rem;
  font-weight: 800;
}

.hero-right{
  width: 100%;
  /* background-image: url("https://i.pinimg.com/originals/4b/f6/89/4bf68956b86298e132f5157a309a7661.jpg"); */
  background-position-x: center;
  background-position-y: center;
  animation: shrink 2s;
  background-size: 270%;
  animation-fill-mode:forwards;
}

.minecraft{
  height: 100vh !important;
}

@keyframes shrink {
  0% {
    background-size: 270%;
  }
  100% {
    background-size: 250%;
  }
}